.music_play_album {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_play_album_photo {
  border-radius: 20px;
  margin-right: 30px;
  margin-top: 30px;
}
.music_play_album_photo img {
  width: 96px;
  height: 96px;
  border: 3px solid black;
  border-radius: 10px;
}

.music_play_album_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -10px;
}
.music_play_album_title {
  margin-top: -20px;
}
