.music_chart {
  margin-top: 30px;
  list-style: none;
  font-size: 10px;
  margin-left: -30px;
}
.music_chart__album {
  width: 35px;
  height: 35px;
  background-color: teal;
  margin-top: 14px;
  margin-right: 5px;
  border: 3px solid black;
  border-radius: 10px;
}

.music_chart__box {
  display: flex;
  align-items: center;
}

.music_chart__title span {
  color: gray;
  display: block;
  margin-top: -10px;
}

.tomato {
  background-color: tomato;
}
.blue {
  background-color: blue;
}
.thistle {
  background-color: thistle;
}
.green {
  background-color: green;
}
