body {
  background-color: rgb(90, 175, 176);
}

/*Here is transform!*/
@keyframes circle_animation {
  0% {
    transform: none;
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.loading_circle {
  margin: 0px 500px;
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  animation: circle_animation 1.2s ease-in-out infinite;
}

/*Here is border-radius!*/
.loading_circle_element {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.loading_square {
  margin: 0px 500px;
  margin-top: 250px;
  display: flex;
  justify-content: space-evenly;
}

.loading_square_element {
  background-color: white;
  width: 50px;
  height: 200px;
  animation: square_animation 1.2s ease-in-out infinite;
}

@keyframes square_animation {
  0% {
    transform: none;
  }
  20% {
    transform: scale(1, 1.8);
  }
  40% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

/*Here is animation-delay!!*/
.square_1 {
  animation-delay: 0s;
}
.square_2 {
  animation-delay: 0.05s;
}
.square_3 {
  animation-delay: 0.1s;
}
.square_4 {
  animation-delay: 0.15s;
}
.square_5 {
  animation-delay: 0.2s;
}
