body {
  background-color: rgb(224, 224, 224);
  font-family: "Ibarra Real Nova", serif;
}

.header_title {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  font-weight: 1000;
  font-size: 50px;
}

.color_body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color_body__box {
  width: 300px;
  height: 600px;
  margin: 10px;
  border: 7px solid white;
}

.color_body__box:first-child {
  background-color: tomato;
  position: relative;
}
.color_body__box:nth-child(2) {
  background-color: teal;
  position: relative;
}
.color_body__box:nth-child(3) {
  background-color: burlywood;
  position: relative;
}
.color_body__box:last-child {
  background-color: thistle;
  position: relative;
}

.color_name {
  display: flex;
  flex-wrap: wrap;
}

.color_name_content {
  background-color: white;
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color_name_content {
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color_name_content h1 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 40px;
}

.color_name_content span {
  font-size: 30px;
  font-weight: 1000;
}

.color_name_tomato {
  position: absolute;
  top: 50px;
}

.color_name_burlywood {
  position: absolute;
  top: 50px;
}

.color_name_teal {
  position: absolute;
  top: 50px;
}

.color_name_thistle {
  position: absolute;
  top: 50px;
}
